.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  background-color: #111;
  padding: 15px 30px;
  display: flex;
  justify-content: right;   // THIS puts them side by side
  align-items: center;
}

.nav-link {
  color: white;
  font-weight: bold;
  margin-left: 20px;

  &:hover {
    color: #ffcc00;
  }
}
